# Copyright 2013-2024 Richard Pausch, Felix Schmitt, Axel Huebl
#
# This file is part of PIConGPU.
#
# PIConGPU is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# PIConGPU is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with PIConGPU.
# If not, see <http://www.gnu.org/licenses/>.
#

##
## This configuration file is used by PIConGPU's TBG tool to create a
## batch script for PIConGPU runs. For a detailed description of PIConGPU
## configuration files including all available variables, see
##
##                      docs/TBG_macros.cfg
##


#################################
## Section: Required Variables ##
#################################

TBG_wallTime="72:00:00"

TBG_devices_x=2
TBG_devices_y=1
TBG_devices_z=2

TBG_gridSize="128 3072 128"
TBG_steps="7500"

TBG_periodic="--periodic 1 0 1"


#################################
## Section: Optional Variables ##
#################################s

TBG_pngL_YX="--eL_png.period 100 --eL_png.axis yx --eL_png.slicePoint 0.5 --eL_png.folder pngElectronsYX"
TBG_pngR_YX="--eR_png.period 100 --eR_png.axis yx --eR_png.slicePoint 0.5 --eR_png.folder pngElectronsYX"
TBG_pngP1_YX="--eP1_png.period 100 --eP1_png.axis yx --eP1_png.slicePoint 0.5 --eP1_png.folder pngElectronsYX"
TBG_pngP2_YX="--eP2_png.period 100 --eP2_png.axis yx --eP2_png.slicePoint 0.5 --eP2_png.folder pngElectronsYX"

# [in keV]
TBG_eR_Bin="--eR_energyHistogram.period 500 --eR_energyHistogram.filter all --eR_energyHistogram.binCount 1024 --eR_energyHistogram.minEnergy 0 --eR_energyHistogram.maxEnergy 500000"
TBG_eL_Bin="--eL_energyHistogram.period 500 --eL_energyHistogram.filter all --eL_energyHistogram.binCount 1024 --eL_energyHistogram.minEnergy 0 --eL_energyHistogram.maxEnergy 500000"
TBG_eP1_Bin="--eP1_energyHistogram.period 500 --eP1_energyHistogram.filter all --eP1_energyHistogram.binCount 1024 --eP1_energyHistogram.minEnergy 0 --eP1_energyHistogram.maxEnergy 500000"
TBG_eP2_Bin="--eP2_energyHistogram.period 500 --eP2_energyHistogram.filter all --eP2_energyHistogram.binCount 1024 --eP2_energyHistogram.minEnergy 0 --eP2_energyHistogram.maxEnergy 500000"

TBG_plugins="!TBG_eR_Bin                     \
              !TBG_eL_Bin                        \
                !TBG_eP1_Bin                     \
                    !TBG_eP2_Bin                     \
                        !TBG_pngL_YX                        \
                        !TBG_pngR_YX                        \
                            !TBG_pngP1_YX                        \
                            !TBG_pngP2_YX                        \
                                --eR_macroParticlesCount.period 100 \
                                --eL_macroParticlesCount.period 100 \
                                --eP1_macroParticlesCount.period 100 \
                                --eP2_macroParticlesCount.period 100"


#################################
## Section: Program Parameters ##
#################################

TBG_deviceDist="!TBG_devices_x !TBG_devices_y !TBG_devices_z"

TBG_programParams="-d !TBG_deviceDist \
                   -g !TBG_gridSize   \
                   -s !TBG_steps      \
                   !TBG_periodic      \
                   !TBG_plugins       \
                   --versionOnce"

# TOTAL number of devices
TBG_tasks="$(( TBG_devices_x * TBG_devices_y * TBG_devices_z ))"

"$TBG_cfgPath"/submitAction.sh
